@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politica de privacitat"; 
}

<style>
    /* Estilo para cambiar la fuente de todo el cuerpo */
    body {
        font-family: Arial, sans-serif;
    }

    /* Estilo para los encabezados */
    h1 {
        font-family: Georgia;
        color: #2C3E50;
        font-size: 36px;
        text-align: center;
    }

    h2 {
        color: #34495E;
        font-size: 28px;
    }

    /* Estilo para los párrafos */
    p {
        font-family: 'Baskerville Old Face';
        font-size: 14px;
        color: #7F8C8D;
        line-height: 1.6;
    }

    /* Estilo para texto en negrita */
    strong {
        font-weight: bold;
        color: #E74C3C;
    }

    /* Estilo para enlaces */
    a {
        color: #3498DB;
        text-decoration: none;
    }

        /* Estilo para cuando pasas el ratón sobre el enlace */
        a:hover {
            text-decoration: underline;
        }
</style>

<h1><u>@ViewData["Title"]</u></h1>

<p>Aquesta pàgina web es propietat de Toni Xesc Ribas i Berga</p>
<p>Esta página web es propiedad de Toni Xesc Ribas i Berga</p>
<p>This website is owned by Toni Xesc Ribas i Berga</p>
<p>Diese Website ist Eigentum von Toni Xesc Ribas i Berga</p>

<p>
    Toni Xesc Ribas i Berga, en endavant Titular, t'informa sobre sa seva Política de Privacitat respecte des tractament i protecció de ses dades de caràcter personal des usuaris que puguin ser recollides per sa navegació a través des lloc web MALLORCA.

    En aquest sentit, es Titular garanteix es compliment de sa normativa vigent en matèria de protecció de dades personals, reflectida a sa Llei Orgànica 3/2018, de 5 de desembre, de Protecció de Dades Personals i de Garantia de Drets Digitals (LOPD GDD) . Compleix també amb es Reglament (UE) 2016/679 des Parlament Europeu i des Consell de 27 d'abril des 2016 relatiu a sa protecció de ses persones físiques (RGPD).

    S'ús des lloc web implica s'acceptació d'aquesta Política de Privacitat així com ses condicions incloses a s'Avís Legal.
</p>


<p>
    Toni Xesc Ribas i Berga, en adelante Titular, te informa sobre su Política de Privacidad respecto del tratamiento y protección de los datos de carácter personal de los usuarios que puedan ser recabados por la navegación a través del sitio Web MALLORCA.

    En este sentido, el Titular garantiza el cumplimiento de la normativa vigente en materia de protección de datos personales, reflejada en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y de Garantía de Derechos Digitales (LOPD GDD). Cumple también con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas (RGPD).

    El uso de sitio Web implica la aceptación de esta Política de Privacidad así como las condiciones incluidas en el Aviso Legal.
</p>

<p>
    Toni Xesc Ribas i Berga, hereinafter the Owner, informs you about its Privacy Policy regarding the processing and protection of personal data of users that may be collected by browsing the MALLORCA website.

    In this sense, the Owner guarantees compliance with current regulations on the protection of personal data, reflected in Organic Law 3/2018, of December 5, on the Protection of Personal Data and Guarantee of Digital Rights (LOPD GDD). It also complies with Regulation (EU) 2016/679 of the European Parliament and of the Council of April 27, 2016 on the protection of natural persons (RGPD).

    Use of the Website implies acceptance of this Privacy Policy as well as the conditions included in the Legal Notice.
</p>

<p>
    Toni Xesc Ribas i Berga in diesem Sinne garantiert der Eigentümer die Einhaltung der geltenden Vorschriften zum Schutz personenbezogener Daten, die im Organgesetz 3/2018 vom 5. Dezember zum Schutz personenbezogener Daten und zur Gewährleistung digitaler Rechte (LOPD GDD) enthalten sind. Es entspricht außerdem der Verordnung (EU) 2016/679 des Europäischen Parlaments und des Rates vom 27. April 2016 zum Schutz natürlicher Personen (DSGVO).

    Die Nutzung der Website setzt die Annahme dieser Datenschutzrichtlinie sowie der im rechtlichen Hinweis enthaltenen Bedingungen voraus.
</p>

<p><u> Identidad del responsable</u></p>
<p> Titular: Toni Xesc Ribas i Berga</p>
<p> NIF/CIF: NIF</p>
<p> Domicilio: </p>
<p> Correo electrónico: </p>
<p> Sitio Web: Mallorca</p>